.course-section {
  width: 1470px;
  height: 658px;
  background-color: #eff0f5;
  margin-top: 31px;
  margin-left: 23px;
  position: relative;
  border-radius:40px;   
  overflow:hidden;
}
.course-section-heading {
  position: absolute;
  width: 1407px;
  height: 80px;
  left: 32px;
  top: 34px;
  display: flex;
  align-items: center;
  color: #B9B9B9;
  font-size: 18px;
  background: #ffffff;
  border-radius: 24px;
  margin-bottom:42px;
}

.course-section-details {
  width: 1407px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
  margin-left:32px;
  align-items: center;
  color: #717171;
  font-size: 18px;
  background: #ffffff;
  border-radius: 24px;
}
.course-section-detail{
    margin-top:156px; 
}

.course-section-heading{
display: flex;
align-items: center;
justify-content: space-around;
}
.course-section-details div{
    display: flex;
    align-items: center;
    justify-content: center;
    }
.course-name{
    color: #157AFF;
}

.img-right-space{
    margin-right: 15px;
}
.img-left-reduce img{
    display: flex;
    align-items: center;
    margin-right:-15px;
}
.img-space-between{
    margin-left:30px;
    margin-right:30px;

}